<?xml version="1.0"?>
<launch>

  <include file="$(find rosbot_gazebo)/launch/rosbot.launch"></include>

   <node pkg="image_view" type="image_view" name="image_view" respawn="false" output="log">
	<remap from="/image" to="/ORB_SLAM/Frame" />
	<param name="autosize" value="true"/>
	</node>

	<!-- Show in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rosbot_gazebo)/rviz/rosbot.rviz" required="true" output="screen"/>
  


    <node pkg="ORB_SLAM" type="ORB_SLAM" name="ORB_SLAM"  args="Data/ORBvoc.txt Data/Settings.yaml" cwd="node" output="screen">
    </node>

</launch>


